<h1>Stupid Coach</h1>

<form action="/answer">
  <label for="ask_coach">Ask your coach anything:</label>
  <input type="text" name="question">
  <input type="submit" value="Ask!" class="btn btn-primary mb-2">
</form>
